.tit{font-size: 4rem;line-height: 5rem;}
.txt1{font-size: 3.5rem;line-height: 3.5rem;}
.txt2{font-size: 2.4rem;line-height: 2.6rem;}
.txt3{font-size: 2rem;line-height: 2.4rem;}
.txt4{font-size: 1.6rem;line-height: 2rem;}